body {
  background-color: lightblue;
  font-family: 'Indie Flower', cursive;
  margin: 0px;
}

h3 {
  color: purple;
  text-decoration: underline;
}

footer {
  background-color: #adbce6;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
}

#card {
  background-color: white;
  margin: 30px;
  margin-bottom: 90px;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#profile-picture {
  width: 250px;
  height: auto;
  align-self: center;
  border-radius: 5px;
}

#heading {
  display: flex;
}

#intro {
  margin: 20px;
}

.social-media {
  font-size: 25px;
  margin: 5px;
  color: #0077b5;
  text-decoration: none;
}
